SHUTDOWN IMMEDIATE
STARTUP MOUNT
ALTER DATABASE ARCHIVELOG;
ALTER DATABASE OPEN;
ALTER SYSTEM SET DB_RECOVERY_FILE_DEST_SIZE = 1G;
CONFIGURE CHANNEL DEVICE TYPE DISK FORMAT '{{ backup_directory.dest }}/backup_{{ backup_time }}';
BACKUP DATABASE PLUS ARCHIVELOG;