SHUTDOWN IMMEDIATE;
STARTUP NOMOUNT;
SET DBID = {{ dbid }}
RESTORE CONTROLFILE FROM "{{ controlfile[0].path }}";
ALTER DATABASE MOUNT; 
RESTORE DATABASE;
RECOVER DATABASE UNTIL SEQUENCE 7;
ALTER DATABASE OPEN RESETLOGS;
