{
    "name": "",
    "spec": [
        {
            "max": 1024,
            "min": 0,
            "type": "multiplechoice",
            "choices": [{%- for file in backups if file != '' %}
                {{ "\n                " if loop.first }}"{{ inventory_hostname }} | {{ file }}"{{ "," if not loop.last }}
{% endfor %}
            ],
            "default": "",
            "required": true,
            "variable": "backup",
            "new_question": true,
            "question_name": "Backup",
            "question_description": "Backup to restore"
        }
        ,{
            "max": 1024,
            "min": 0,
            "type": "text",
            "choices": "",
            "default": "",
            "required": true,
            "variable": "target",
            "new_question": true,
            "question_name": "Target Server",
            "question_description": "Target Server to Restore the backup"
        }
    ],
    "description": ""
}