SHUTDOWN IMMEDIATE;
STARTUP NOMOUNT;
SET DBID = {{ dbid }}
RESTORE CONTROLFILE FROM "{{ controlfile[0].path }}";
ALTER DATABASE MOUNT; 
RESTORE DATABASE;
RECOVER DATABASE;
RECOVER DATABASE UNTIL SEQUENCE {{ sequence_result.stdout }};
ALTER DATABASE OPEN RESETLOGS;
